<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="text-center">ブログ一覧</h1>
  <br>
  <div class="flex-container">
    <ul class="list-group">
      <% @blogs.each.with_index(1) do | blog, n | %>
        <li class="list-group-item list-group-item-success"><b><%= "#{n}番目のブログ" %></b></li>
        <li class="list-group-item">タイトル：<%= blog.title %></li>
        <li class="list-group-item">内容：<%= blog.content %></li>
        <li class="list-group-item">備考：<%= blog.note %></li>
        <li class="list-group-item"><%= link_to '詳細', blog %> <%= link_to '編集', edit_blog_path(blog) %> <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <br><br>
      <% end %>
    </ul>
  </div>
  <div class="flex-container">
    <%= link_to '新規作成', new_blog_path, class: 'btn btn-primary' %>
  </div>
</div>
